<div class='main'>

<%#今日の日付と時間を取得する実装%>
<div class='time-display'>
 <div class='datetime'>
  <div class='timeput' id="realtime">ここに時計が表示されます</div>
    <script>
    realtime();
    function set(num) {
   // 桁数が1桁だったら先頭に0を加えて2桁に調整する
   var ret;
   if( num < 10 ) { ret = "0" + num; }
   else { ret = num; }
   return ret;
}
   // 現在時間を取得し表示する
    function realtime(){
        const now = new Date();
        document.getElementById("realtime").innerHTML = now.toLocaleTimeString();
    }
    setInterval('realtime()',1000);
    </script>

  <div class='dateput'>
  <%= @date %><%= @week %></div>
 </div>

 <%= form_with model: @play, local: true do |f| %> 
<%#アクティブハッシュで選択ボタンを実装%>
<%#form_with,submitボタンで実装%>
    <div class='form-select' >
    <%= f.collection_select(:attend_id, Attend.all, :id, :name, {}, {class:"attend-select"}) %></div>
    
    <div class='send-action'>
    <%= f.submit "送信" ,class:"btn" %></div>
</div>  
  <% end %>

</div>