<!DOCTYPE html>
<html>
  <head>
    <title>Kintai29265</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
   <header class="header">
     <div class = "header-message">
     <h1><%= link_to 'rejinji',  "/", class: "main-title" %></h1>
     </div>
     <div class = 'header-list'>
       <ul class = 'list-one'>
      <% if user_signed_in? %>
      <li><%= link_to current_user.nicknmame, "#", class: "user-nicknmame"%> </li> 
      <li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "mypage"%> </li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%></li> 
      </div>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
    </div>
   </header>
    <%= yield %>
  </body>
</html>



 

